<section class="regularGame rightPanel">
    <div class="monthTitle">
        <h3>
            3월 정기전
        </h3>
    </div>
    <div class="tableBox">
        <table class="scoreTable">
            <thead>
                <tr>
                    <td rowspan="2">
                        이름
                    </td>
                    <td rowspan="2">
                        지난달 AVG
                    </td>
                    <td colspan="3">
                        게임(3/9)
                    </td>
                    <td colspan="3">
                        게임(3/23)
                    </td>
                    <td rowspan="2">
                        총점
                    </td>
                    <td rowspan="2">
                        AVG
                    </td>
                    <td rowspan="2">
                        변동AVG
                    </td>
                    <td rowspan="2">
                        핸디포함총점
                    </td>
                    <td rowspan="2">
                        최종 AVG
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        홍길동
                    </td>
                    <td>
                        190
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        195
                    </td>
                    <td>
                        225
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        212
                    </td>
                    <td>
                        +12
                    </td>
                    <td>
                        625
                    </td>
                    <td>
                        1
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>