<section class="makeTeam rightPanel">
    <div class="teamMakeBox">
        <div class="title">
            <h4>
                팀 구성
            </h4>
            <select (change)="changeTeamCount($event)">
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3" selected>
                    3
                </option>
                <option value="4">
                    4
                </option>
                <option value="5">
                    5
                </option>
            </select>
            <p>
                *개인전은 팀 개수를 1개로 선택하시면 됩니다.
            </p>
        </div>
        <div class="teamListBox">
            <div *ngFor="let team of teamList; let i = index;" (click)="selectTeam(i)" class="teamInfoBox">
                <h5>
                    팀{{ i + 1 }}
                </h5>
                <div class="tableBox">
                    <input #checkBox [(ngModel)]="team.isChecked" type="checkbox">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    이름
                                </td>
                                <td>
                                    지난달AVG
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of team.memberList;">
                                <td>
                                    {{ member.name }}
                                </td>
                                <td>
                                    {{ member.lastAvg }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>
                        팀AVG {{ team.getAvg() }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="participantSelectBox">
        <div class="title">
            <h4>
                참가자 목록
            </h4>
            <p>
                *좌측 회원 목록에서 선택할 수 있습니다.
            </p>
            <div class="configBtnBox">
                <button (click)="save()">
                    구성완료
                </button>
            </div>
        </div>
        <div class="memberListBox">
            <div *ngFor="let member of memberList;" class="memberBox" (click)="selectMember(member)">
                <div class="teamInfoBox" *ngIf="member.teamIndex > -1">
                    팀{{ member.teamIndex + 1 }}
                </div>
                <div class="memberInfoBox">
                    <p>
                        {{ member.name }}
                    </p>
                    <div class="memberImgBox">
                        <img *ngIf="member.isMan()" src="/assets/images/man-icon.png">
                        <img *ngIf="!member.isMan()" src="/assets/images/woman-icon.png">
                    </div>
                </div>
                <div class="memberScoreBox">
                    <table>
                        <tr>
                            <td>
                                지난달AVG
                            </td>
                            <td>
                                {{ member.lastAvg }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>