<section class="makeTeam right-content">
    <div class="contentArea">
        <div class="participantSelectBox">
            <div class="title">
                <h3>
                    참가자 목록
                </h3>
                <p>
                    *좌측 회원 목록에서 선택할 수 있습니다.
                </p>
            </div>
            <div class="memberListBox">
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="memberBox">
                    <div class="memberImgBox">
                        <img src="/assets/images/man-icon.png">
                    </div>
                    <div class="memberInfoBox">
                        <p>
                            홍길동
                        </p>
                        <table>
                            <tr>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5게임AVG
                                </td>
                                <td>
                                    219
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="teamMakeBox">
            <div class="title">
                <h3>
                    팀 구성
                </h3>
                <p>
                    *개인전은 팀 개수를 1개로 선택하시면 됩니다.
                </p>
            </div>
            <div>
                <label>
                    팀 개수
                </label>
                <select>
                    <option>
                        1
                    </option>
                    <option>
                        2
                    </option>
                    <option selected>
                        3
                    </option>
                    <option>
                        4
                    </option>
                    <option>
                        5
                    </option>
                </select>
            </div>
            <div class="teamListBox">
                <div class="teamInfoBox">
                    <h5>
                        팀1
                    </h5>
                    <div class="tableBox">
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        이름
                                    </td>
                                    <td>
                                        지난달AVG
                                    </td>
                                    <td>
                                        5게임AVG
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="teamInfoBox">
                    <h5>
                        팀1
                    </h5>
                    <div class="tableBox">
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        이름
                                    </td>
                                    <td>
                                        지난달AVG
                                    </td>
                                    <td>
                                        5게임AVG
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="teamInfoBox">
                    <h5>
                        팀1
                    </h5>
                    <div class="tableBox">
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        이름
                                    </td>
                                    <td>
                                        지난달AVG
                                    </td>
                                    <td>
                                        5게임AVG
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        홍길동
                                    </td>
                                    <td>
                                        219
                                    </td>
                                    <td>
                                        200
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="configBtnBox">
                <button>
                    구성완료
                </button>
            </div>
        </div>
    </div>
</section>