<section class="memberList leftPanel">
    <div class="memberListHeader flex">
        <h4>
            회원 목록
        </h4>
        <div>
            <button (click)="openAddMemberDialog()">
                추가
            </button>
        </div>
    </div>
    <div class="memberListBox">
        <div *ngFor="let member of memberList" class="memberBox">
            <div class="memberImageBox">
                <img *ngIf="member.gender == gender.MALE" src="/assets/images/man-icon.png">
                <img *ngIf="member.gender == gender.FEMALE" src="/assets/images/woman-icon.png">
            </div>
            <div class="memberName">
                {{ member.name }}
            </div>
            <div (click)="editMember(member)" class="memberManageBtnBox">
                <button>
                    수정
                </button>
            </div>
            <div (click)="deleteMember(member)" class="memberManageBtnBox">
                <button>
                    삭제
                </button>
            </div>
        </div>
    </div>
</section>

<add-member *ngIf="isVisibleAddMemberDialog" [member]="selectedMember" (closeDialogEvent)="closeDialog()"></add-member>