<section class="config">
    <div class="gameInfoConfigBox">
        <h2>
            게임 설정
        </h2>
        <div>
            <h4>
                핸디설정
            </h4>
            <div class="gameConfigBox">
                <div>
                    <label>
                        여성우대
                    </label>
                    <input type="checkbox" checked>
                </div>
                <div>
                    <input class="scoreInput" type="number" placeholder="15">
                    <button>
                        -5
                    </button>
                    <button>
                        +5
                    </button>
                </div>
            </div>
            <h4>
                AVG 제한선
            </h4>
            <div class="gameConfigBox">
                <div>
                    <label>
                        최대 AVG
                    </label>
                    <input type="checkbox" checked>
                </div>
                <div>
                    <input class="scoreInput" type="number" placeholder="200">
                    <button>
                        -5
                    </button>
                    <button>
                        +5
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="accountConfigBox">
        <h2>
            계정 설정
        </h2>
        <div>
            <h4>
                비밀번호
            </h4>
            <div class="gameConfigBox">
                <table>
                    <tr>
                        <td>
                            현재 비밀번호
                        </td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            비밀번호
                        </td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            비밀번호 확인
                        </td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="buttonBox">
        <button>
            변경
        </button>
    </div>
</section>