<section class="dialog memberRegistDialog">
    <div class="title">
        <h3>
            회원 등록
        </h3>
        <div class="closeBtnBox">
            <button (click)="closeDialog()">
                X
            </button>
        </div>
        <hr>
    </div>
    <table>
        <tr>
            <th>
                이름
            </th>
            <th>
                <input type="text">
            </th>
        </tr>
        <tr>
            <th>
                성별
            </th>
            <th>
                <label for="man">
                    남
                </label>
                <input id="man" type="radio" name="gender">
                <label for="woman">
                    여
                </label>
                <input id="woman" type="radio" name="gender">
            </th>
        </tr>
    </table>
    <div>
        <hr>
        <button (click)="addMember()" class="addMemberBtn">
            추가
        </button>
    </div>
</section>