html, body, .container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, input, button, .container {
    font-family: 'DoHyeon';
    font-weight: 100;
}

header {
    height: 40px;
}

img {
    width: 100%;
    height: 100%;
}

h1, p {
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
}

header .logoBox {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

h1.logoText {
    font-size: 2em;
    font-weight: 100;
}

section.login {
    height: calc(100% - 40px - 81px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

section.login .logo {
    margin: 0 auto;
}

section.login .logo .logoBox {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

section.login .logo h1 {
    text-align: center;
}

section.login .loginIfoBox {
    width: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

section.login .loginIfoBox > * {
    width: 100%;
    margin-bottom: 7px;
}

section.login .loginIfoBox > button {
    width: 358px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

section.login .loginIfoBox > button:hover {
    color: white;
    background-color: cornflowerblue;
}

section.login .loginIfoBox input {
    height: 20px;
}

section.login .otherMenu a {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
section.login .otherMenu a:hover::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid cornflowerblue;
}

header.menu {
    align-items: center;
    border-bottom: 1px solid gray;
}

header.menu > div:first-child {
    width: 25%;
}

header.menu > div:nth-child(2) {
    width: 55%;
}

header.menu > div:last-child {
    width: 25%;
    text-align: right;
}

header.menu > div a {
    margin-right: 15px;
}

header.menu > div:nth-child(2) a {
    margin-right: 40px;
}

header.menu a {
    font-size: 23px;
    cursor: pointer;
}

header.menu a.on {
    color: cornflowerblue;
    position: relative;
}

section.memberList {
    position: absolute;
    width: 23%;
    padding: 5px 10px;
    height: calc(100% - 115px);
    border-right: 1px solid gray;
}

section.memberList * {
    font-weight: 100;
}

section.memberList .memberListHeader {
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

section.memberList .memberListBox {
    padding-left: 15px;
}

section.memberList .memberListBox .memberBox {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

section.memberList .memberListBox .memberBox .memberImageBox {
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
}

section.memberList .memberListBox .memberBox .memberName {
    width: calc(70% - 40px);
    font-size: 20px;
}

section.memberList .memberListBox .memberBox .memberManageBtnBox {
    width: calc(30% - 40px);
    text-align: right;
}

section.dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.memberRegistDialog {
    width: 250px;
    height: 155px;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.memberRegistDialog .title h3 {
    margin: 0px;
}

section.memberRegistDialog .title .closeBtnBox {
    position: absolute;
    right: 10px;
    top: 10px;
}

section.memberRegistDialog table {
    height: 70px;
}

section.memberRegistDialog table * {
    text-align: left;
}

section.memberRegistDialog table tr th:first-child {
    width: 25%;
}

section.memberRegistDialog .addMemberBtn {
    width: 100%;
}

section.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 47px;
    margin: 17px 0px;
}