html, body, .container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, input, button, .container {
    font-family: 'DoHyeon';
    font-weight: 100;
}

header {
    height: 40px;
}

img {
    width: 100%;
    height: 100%;
}

h1, p {
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
}

header .logoBox {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

h1.logoText {
    font-size: 2em;
    font-weight: 100;
}

section.login {
    height: calc(100% - 40px - 81px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

section.login .logo {
    margin: 0 auto;
}

section.login .logo .logoBox {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

section.login .logo h1 {
    text-align: center;
}

section.login .loginIfoBox {
    width: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

section.login .loginIfoBox > * {
    width: 100%;
    margin-bottom: 7px;
}

section.login .loginIfoBox > button {
    width: 358px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

section.login .loginIfoBox > button:hover {
    color: white;
    background-color: cornflowerblue;
}

section.login .loginIfoBox input {
    height: 20px;
}

section.login .otherMenu a {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
section.login .otherMenu a:hover::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid cornflowerblue;
}

header.menu {
    align-items: center;
    border-bottom: 1px solid gray;
}

header.menu > div:first-child {
    width: 25%;
}

header.menu > div:nth-child(2) {
    width: 55%;
}

header.menu > div:last-child {
    width: 25%;
    text-align: right;
}

header.menu > div a {
    margin-right: 15px;
}

header.menu > div:nth-child(2) a {
    margin-right: 40px;
}

header.menu a {
    font-size: 23px;
    cursor: pointer;
}

header.menu a.on {
    color: cornflowerblue;
    position: relative;
}

section.memberList {
    position: absolute;
    width: 23%;
    padding: 5px 10px;
    height: calc(100% - 115px);
    border-right: 1px solid gray;
}

section.memberList * {
    font-weight: 100;
}

section.memberList .memberListHeader {
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

section.memberList .memberListBox {
    padding-left: 15px;
}

section.memberList .memberListBox .memberBox {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

section.memberList .memberListBox .memberBox .memberImageBox {
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
}

section.memberList .memberListBox .memberBox .memberName {
    width: calc(70% - 40px);
    font-size: 20px;
}

section.memberList .memberListBox .memberBox .memberManageBtnBox {
    width: calc(30% - 40px);
    text-align: right;
}

section.dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.memberRegistDialog {
    width: 250px;
    height: 155px;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.memberRegistDialog .title h3 {
    margin: 0px;
}

section.memberRegistDialog .title .closeBtnBox {
    position: absolute;
    right: 10px;
    top: 10px;
}

section.memberRegistDialog table {
    height: 70px;
}

section.memberRegistDialog table * {
    text-align: left;
}

section.memberRegistDialog table tr th:first-child {
    width: 25%;
}

section.memberRegistDialog .addMemberBtn {
    width: 100%;
}

section.right-content {
    position: absolute;
    right: 0px;
    width: calc(100% - 23% - 21px);
    height: calc(100% - 115px);
}

section.makeTeam {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.makeTeam .contentArea {
    width: 98%;
    height: 98%;
    border: 1px solid gray;
    border-radius: 10px;
}

section.makeTeam .contentArea .participantSelectBox {
    margin-top: 10px;
    margin-left: 10px;
}

section.makeTeam .contentArea .participantSelectBox .title {
    display: flex;
    align-items: center;
}

section.makeTeam .contentArea .participantSelectBox .title * {
    margin: 0px;
}

section.makeTeam .contentArea .participantSelectBox .title p {
    margin-left: 15px;
    color: #ff0000;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 244px;
    max-height: 244px;
    overflow-y: auto;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox {
    display: inline-flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 58px;
    max-height: 58px;
    min-height: 58px;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox .memberImgBox {
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 45px;
    overflow: hidden;
    margin-right: 5px;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox .memberInfoBox {
    width: calc(100% - 45px);
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox .memberInfoBox table {
    font-size: 12px;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox .memberInfoBox table tr td:first-child {
    width: 60%;
}

section.makeTeam .contentArea .participantSelectBox .memberListBox .memberBox .memberInfoBox table tr td:last-child {
    width: 40%;
    text-align: right;
}

section.makeTeam .contentArea .teamMakeBox {
    margin-left: 10px;
}

section.makeTeam .contentArea .teamMakeBox .title {
    display: flex;
    align-items: center;
}

section.makeTeam .contentArea .teamMakeBox .title h3 {
    margin: 0px;
    margin-right: 10px;
}

section.makeTeam .contentArea .teamMakeBox .title p {
    color: #ff0000;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox {
    white-space: nowrap;
    overflow-x: auto;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox .teamInfoBox {
    margin-top: 10px;
    border: 1px solid gray;
    width: 27%;
    margin-right: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox .teamInfoBox h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox .teamInfoBox .tableBox {
    width: 100%;
    height: 170px;
    max-height: 170px;
    overflow-y: auto;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox .teamInfoBox .tableBox table {
    width: 100%;
    text-align: center;
}

section.makeTeam .contentArea .teamMakeBox .teamListBox .teamInfoBox .tableBox table tr td {
    width: 33%;
}

section.makeTeam .contentArea .teamMakeBox .configBtnBox {
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

section.makeTeam .contentArea .teamMakeBox .configBtnBox button {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
}

section.summary {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

section.summary .contentArea {
    margin-left: 10px;
    width: 98%;
    border: 1px solid gray;
    border-radius: 10px;
}

section.summary .contentArea.recentTeamArea {
    height: 280px;
    min-height: 280px;
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}

section.summary .contentArea.recentTeamArea .title {
    margin: 10px;
    display: flex;
}

section.summary .contentArea.recentTeamArea .title h3 {
    margin: 0px;
}

section.summary .contentArea.recentTeamArea .title button {
    margin-left: 15px;
    border-radius: 5px;
    font-weight: 100;
    font-size: 14px;
}

section.summary .contentArea.recentTeamArea .teamListBox {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    margin: 10px;
}

section.summary .contentArea.recentTeamArea .teamListBox .teamInfoBox {
    display: inline-block;
    margin-right: 15px;
    width: 27%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

section.summary .contentArea.recentTeamArea .teamListBox .teamInfoBox h5 {
    margin: 0px;
    font-size: 18px;
}

section.summary .contentArea.recentTeamArea .teamListBox .teamInfoBox .tableBox,
section.summary .contentArea.recentTeamArea .teamListBox .teamInfoBox .tableBox table {
    width: 100%;
}

section.summary .contentArea.recentTeamArea .teamListBox .teamInfoBox .tableBox {
    max-height: 191px;
    overflow-y: auto;
}

section.summary .contentArea.recentGameRecord {
    margin-top: 10px;
    height: 55%;
    min-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}

section.summary .contentArea.recentGameRecord > * {
    margin: 10px;
}

section.summary .contentArea.recentGameRecord .title h3 {
    margin: 0px;
}

section.summary .contentArea.recentGameRecord table {
    width: 98%;
    text-align: center;
}

section.summary .contentArea.recentGameRecord table th, 
section.summary .contentArea.recentGameRecord table td {
    border: 1px solid gray;
}

section.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 47px;
    margin: 17px 0px;
}