<section class="summary rightPanel">
    <div class="recentTeamArea">
        <div class="title">
            <h4>
                오늘의 팀
            </h4>
            <button (click)="toggleVisibleRecordDialog()">
                점수 기록
            </button>
        </div>
        <div class="teamListBox">
            <div class="teamInfoBox">
                <h5>
                    팀1
                </h5>
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    이름
                                </td>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    5게임AVG
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="teamInfoBox">
                <h5>
                    팀1
                </h5>
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    이름
                                </td>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    5게임AVG
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="teamInfoBox">
                <h5>
                    팀1
                </h5>
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    이름
                                </td>
                                <td>
                                    지난달AVG
                                </td>
                                <td>
                                    5게임AVG
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    219
                                </td>
                                <td>
                                    200
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="recentMemberInfo">
        <div class="avgRankBox">
            <div class="title">
                <h4>
                    AVG RANK (2022.03.01 ~ )
                </h4>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            순위
                        </td>
                        <td>
                            이름
                        </td>
                        <td>
                            AVG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            홍길동
                        </td>
                        <td>
                            216
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clubAvgChartBox">
            <div class="title">
                <h4>
                    클럽 AVG (2021.09 ~ 2022.03)
                </h4>
            </div>
            <div class="canvasBox">
                <canvas id="chartArea"></canvas>
            </div>
        </div>
    </div>
</section>

<record *ngIf="isVisibleRecordDialog" (closeEvent)="toggleVisibleRecordDialog()"></record>