<header class="menu flex">
    <div (click)="changeMenu(menu.MAIN)" class="flex">
        <div class="logoBox">
            <img src="/assets/images/temp-logo.png">
        </div>
        <h1 class="logoText">
            볼총무
        </h1>
    </div>
    <div>
        <a (click)="changeMenu(menu.MAKE_TEAM)" [class.on]="isCurrentMenu(menu.MAKE_TEAM)">
            팀짜기
        </a>
        <a (click)="changeMenu(menu.GAME_HISTORY)" [class.on]="isCurrentMenu(menu.GAME_HISTORY)">
            게임기록
        </a>
        <a>
            정기전
        </a>
        <a>
            핸디설정
        </a>
    </div>
    <div>
        <a>
            마이페이지
        </a>
        <a>
            로그아웃
        </a>
    </div>
</header>