<section class="dialog memberRegistDialog">
    <div class="title">
        <h3>
            회원 등록
        </h3>
        <div class="closeBtnBox">
            <button (click)="closeDialog()">
                X
            </button>
        </div>
        <hr>
    </div>
    <table>
        <tr>
            <th>
                이름
            </th>
            <th>
                <input [(ngModel)]="member.name" type="text">
            </th>
        </tr>
        <tr>
            <th>
                성별
            </th>
            <th>
                <label for="man">
                    남
                </label>
                <input [(ngModel)]="member.gender" id="man" type="radio" name="gender" [value]="gender.MALE">
                <label for="woman">
                    여
                </label>
                <input [(ngModel)]="member.gender" id="woman" type="radio" name="gender" [value]="gender.FEMALE">
            </th>
        </tr>
    </table>
    <div>
        <hr>
        <button (click)="save()" class="addMemberBtn">
            {{ isEditMode? "수정": "추가" }}
        </button>
    </div>
</section>