<menu></menu>
<ng-container *ngIf="isCurrentMenu(menu.MAIN)">
    <memberList></memberList>
    <recent-team></recent-team>
    <!-- <summary></summary> -->
</ng-container>
<record *ngIf="isCurrentMenu(menu.RECORD)"></record>
<make-team *ngIf="isCurrentMenu(menu.MAKE_TEAM)"></make-team>
<game-history *ngIf="isCurrentMenu(menu.GAME_HISTORY)"></game-history>
<regular-game-history *ngIf="isCurrentMenu(menu.REGULAR_GAME)"></regular-game-history>
<config *ngIf="isCurrentMenu(menu.CONFIG)"></config>
<footer></footer>