@import url("./assets/css/style.css");
@font-face {
    font-family: 'DoHyeon';
    src: url(./assets/font/DoHyeon-Regular.ttf);
}
@font-face {
    font-family: 'MaruBuri';
    src: url(./assets/font/MaruBuri-Regular.ttf);
}